
#titulo{
    font-size: 24px;
    }

#tituloCentralizado{
    font-size: 24px;
    text-align: center;
    }
    
#centralizar{
    text-align: center;
}

#voltar{
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 109);
}
.recuo{
    text-indent: 1cm;
}

#mensagemWhats{
    text-align: center;
}

#telefoneGermano{
    color: red;
    background-color: black;
    text-align: center;
}

mark{
    color: white;
    background-color: green;
    font-size: 24px;
}

.menu{
    width: 150px; 
    height: 150px;
}

#divPadding5{
    padding: 5%;
}

.conteudotexto{
    padding: 1%;
}

#legenda{
    font-size: 11px;
    font-weight: bold;
}

#tabela tbody > tr:hover{
    background-color: rgb(1, 75, 1);
    color: white;
}